#### Flix ####
# Standard output folders of flix
build/
target/

# Everything in the lib folder, they should be installed locally
lib/**
!lib/.gitkeep

# Crash Reports
crash_report_*.txt

# Custom flix jar and build jars in root
/*.jar

# Build flix package in root
/*.fpkg

# Local files
**/personal/**

# Vscoce folder
.vscode/
